{{> Header }}


<h1> {{name}}'s stats</h1>


<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <span>Level:</span>
            <span>{{level}}</span>
        </div>
        <div class="grid-item">
            <span>Kills:</span>
            <span>{{kills}}</span>
        </div>
        <div class="grid-item">
            <span>Damage:</span>
            <span>{{damage}}</span>
        </div>
        <div class="grid-item">
            <span>Wins:</span>
            <span>{{wins}}</span>
        </div>
        <div class="grid-item">
            <span>Rank:</span>
            <span>{{rank}}</span>
        </div>
    </div>
</div>



{{#unless isLinked}}
<form method="POST" action="/profile"> 
    <label>
        Is this your profile?
    </label>
    <input type="submit" value="Claim" id="search-form-submit-button">
</form>
{{/unless}}
{{#if isLoggedIn}}
<form method="POST" action="/favourites"> 
    <label>
        Add {{name}} to favourites?
    </label>
    <input type="hidden" value="{{name}}" name="favouritesName">
    <input type="submit" value="Favourite" id="favourite-form-submit-button">
</form>
{{/if}}

{{> Footer }}
