{{> Header }}




<div class="container">
    <div class="stats-header">
        <h1> {{name}}'s stats</h1>
        {{#if isLoggedIn}}
        <div class="favourite-container">
            <form method="POST" action="/favourites" id="favourite-form">
                <input type="hidden" value="{{name}}" name="favouritesName">
                {{#if isFavourite}}
                    <input type="checkbox" name="checkbox" id="favourite-checkbox" class="favourite-checkbox" onchange="this.form.submit()" checked="{{isFavourite}}">
                {{else}}
                    <input type="checkbox" name="checkbox" id="favourite-checkbox" class="favourite-checkbox" onchange="this.form.submit()">
                {{/if}}
                <label for="favourite-checkbox" class="favourite-star">&#9733;</label>
            </form>
        </div>
        {{/if}}
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <span>Level:</span>
            <span>{{level}}</span>
        </div>
        <div class="grid-item">
            <span>Kills:</span>
            <span>{{kills}}</span>
        </div>
        <div class="grid-item">
            <span>Damage:</span>
            <span>{{damage}}</span>
        </div>
        <div class="grid-item">
            <span>Wins:</span>
            <span>{{wins}}</span>
        </div>
        <div class="grid-item">
            <span>Rank:</span>
            <span>{{rank}}</span>
        </div>
    </div>
    {{#unless isLinked}}
        <form method="POST" action="/profile">
            <label for="search-form-submit-button">Is this your profile?</label>
            <button type="submit" value="Claim" id="search-form-submit-button"> </button>
        </form>
    {{/unless}}
</div>

{{> Footer }}